@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}

.no-seleccionable {
	user-select: none;
}

body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
	width: 100vw;
	background-color: hsl(0, 0%, 8%);
	color: white;
	overflow-x: hidden;
}

.overflow-hidden {
	/* margin: auto; */
	overflow: hidden;
}

.display-none {
	display: none !important;
}

/* ---------------- INTRO SLIDER ---------------- */

.slider-container {
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr;
}

.slide {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.pagina-01 {
	background-color: hsl(0, 0%, 8%);
	z-index: 4;
	display: flex;
	flex-direction: column;
}

.img-p01 {
	position: relative;
	top: -3rem;
	width: 11.25rem;
	height: auto;
}

.pagina-02 {
	background-color: hsl(0, 0%, 8%);
	z-index: 3;
	display: flex;
	flex-direction: column;
}

.card-intro {
	background-color: hsl(0, 0%, 95%);
	height: 23.5rem;
	width: 16.7rem;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -3rem;
}

.img-card {
	width: 13.1rem;
	height: auto;
	margin-bottom: 3rem;
}

.p-card {
	color: hsl(0, 0%, 0%);
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 23px;
	width: 80%;
}

.btn-intro {
	width: 180px;
	height: 47px;
	background-color: hsla(0, 0%, 0%, 0);
	border: 2px solid hsla(0, 0%, 95%, 0.1);
	border-radius: 100px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgb(21, 184, 219);
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
	outline: none;
}

.btn-intro:hover {
	background-color: hsl(198, 42%, 14%);
	outline: none;
}

.pagina-03 {
	background-color: hsl(0, 0%, 8%);
	z-index: 2;
	display: flex;
	flex-direction: column;
}

/* ---------------- Movimientos ---------------- */

.loader {
	height: 3rem;
	width: auto;
	position: relative;
	top: 2rem;
	animation: rotacion 5s infinite;
}

@keyframes rotacion {
	100% {
		transform: rotate(720deg);
	}
}

.avanzar {
	transform: translateX(-100%);
	transition: 0.4s;
}

/* ---------------- MAIN PAGE ---------------- */

.main-page {
	width: 100vw;
	position: absolute;
	top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---------------- Password Generator Module ---------------- */

.pass-generator {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---------------- Logo Titulo Bajada ---------------- */

.head {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo-head {
	width: 7.5rem;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.titulo-head {
	width: 90vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.h1-titulo {
	font-weight: bold;
	font-size: 1.7rem;
	line-height: 40px;
	margin-bottom: 0.6rem;
}

.p-bajada {
	line-height: 19px;
}

/* ---------------- Password Holder ---------------- */

.pass-view {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.pass-holder {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90vw;
	max-width: 21rem;
	height: 4.75rem;
	border-radius: 100px;
	background-color: hsl(0, 0%, 95%);
	box-shadow: 0px 6px 6px hsla(0, 0%, 0%, 0.25);
	z-index: 1;
}

.logo-pass-holder {
	width: 40px;
	margin-left: 1.2rem;
}

.password-text {
	font-family: "Roboto Mono", monospace;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	color: hsl(0, 0%, 0%);
}

.btn-copy-pass-desktop {
	margin-right: 1.2rem;
	display: none;
}

.btn-refresh-pass-mobile {
	margin-right: 1.4rem;
}

.pass-refresh-desktop {
	margin-top: -0.2rem;
	height: 3.75rem;
	width: 5.5rem;
	background-color: hsla(0, 0%, 0%, 0);
	border: 3px solid hsl(0, 0%, 95%);
	border-radius: 0px 0px 20px 20px;
	display: flex;
	justify-content: center;
	z-index: 0;
	display: none;
}

/* ---------------- Opciones Container ---------------- */

.opciones-container {
	width: 90vw;
	max-width: 21rem;
	height: 26rem;
	border-radius: 30px;
	background-color: hsl(0, 0%, 95%);
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: hsl(0, 0%, 0%);
	font-size: 1.2rem;
}

.titulo-opciones {
	font-family: Roboto;
	font-weight: bold;
	font-size: 1.4rem;
	text-align: center;
	width: 90%;
	padding-bottom: 0.6rem;
	border-bottom: 2px solid hsl(0, 0%, 86%);
	margin-bottom: 1.2rem;
}

.btn-opciones {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin-bottom: 1.5rem;
}

.btn {
	-webkit-appearance: none;
	-webkit-border-radius: none;
	height: 2.5rem;
	background: hsl(0, 0%, 89%);
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: none;
	color: hsl(0, 0%, 55%);
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	outline: none;
	-webkit-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
}

.btn:active {
	color: white;
	background-color: hsl(191, 83%, 47%);
	box-shadow: 0px 3px 3px hsla(0, 0%, 0%, 0.25);
	-webkit-box-shadow: 0px 3px 3px hsla(0, 0%, 0%, 0.25);
	box-shadow: 0px 3px 3px hsla(0, 0%, 0%, 0.25);
	-webkit-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
}

.btn-active {
	color: white;
	background-color: hsl(191, 83%, 47%);
	-webkit-box-shadow: 0px 3px 3px hsla(0, 0%, 0%, 0.25);
	box-shadow: 0px 3px 3px hsla(0, 0%, 0%, 0.25);
}

.btn-numeros,
.btn-simbolos {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	height: 3rem;
	width: 7.5rem;
}

.longitud-range {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 90%;
	margin-bottom: 1rem;
}

.range-text {
	font-size: 1rem;
	margin-left: 1.75rem;
}

.longitud-selector {
	margin-left: 1rem;
	margin-right: 0.5rem;
	background: none;
}

.longitud-valor {
	font-size: 1.1rem;
	font-weight: bold;
}

.valor-disable {
	font-weight: normal;
	color: hsl(0, 0%, 80%);
}

/* ------------------- Input Range Format ------------------- */

input[type="range"] {
	display: block;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
	background-color: hsl(191, 83%, 47%);
	width: 20px;
	height: 20px;
	/* border: 3px solid #333; */
	border: none;
	border-radius: 50%;
	margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
	background-color: hsl(191, 83%, 47%);
	width: 15px;
	height: 15px;
	/* border: 3px solid #333; */
	border: none;
	border-radius: 50%;
}

input[type="range"]::-ms-thumb {
	background-color: hsl(191, 83%, 47%);
	width: 20px;
	height: 20px;
	/* border: 3px solid #333; */
	border: none;
	border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
	background-color: hsl(0, 0%, 85%);
	height: 3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	outline: none;
}

input[type="range"]::-moz-range-track {
	background-color: hsl(0, 0%, 85%);
	height: 3px;
}

input[type="range"]::-ms-track {
	background-color: hsl(0, 0%, 85%);
	height: 3px;
}

.input-disabled::-webkit-slider-thumb {
	background-color: hsl(0, 0%, 80%) !important;
}

.input-disabled::-moz-range-thumb {
	background-color: hsl(0, 0%, 80%) !important;
}

.input-disabled::-ms-thumb {
	background-color: hsl(0, 0%, 80%) !important;
}

/* ----------------------------------------------------------------- */

.titulo-texto-input-usuario {
	font-family: Roboto;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	padding: 0.6rem;
	border-bottom: 2px solid hsl(0, 0%, 86%);
	margin-bottom: 1rem;
}

.texto-usuario-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.titulo-texto-input-usuario {
	font-family: Roboto;
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
	border-bottom: 2px solid hsl(0, 0%, 86%);
	margin-bottom: 1.2rem;
	width: 100%;
}

.texto-input-usuario {
	-webkit-appearance: none;
	-webkit-border-radius: none;
	height: 3rem;
	width: 90%;
	background: hsl(0, 0%, 95%);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: none;
	color: hsl(0, 0%, 55%);
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 1.1rem;
	border: 2px solid hsl(0, 1%, 71%);
	margin-bottom: 1rem;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-texto-usuario {
	height: 3rem;
	width: 9rem;
	font-size: 1rem;
}

/* ---------------- INFO CONTAINER ---------------- */

.info-container {
	background: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 4rem;
}

.titulo-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 88vw;
	margin-bottom: 1rem;
}

.logo-info {
	width: 80px;
	max-width: 32%;
}

.titulo-info {
	color: hsl(0, 0%, 0%);
	margin-left: 1rem;
	width: 68%;
	font-weight: bold;
	font-size: 1.7rem;
	line-height: 29px;
	text-align: left;
}

.texto-parrafo {
	color: hsl(0, 0%, 0%);
	font-family: Roboto;
	font-size: 1rem;
	line-height: 24px;
	text-align: justify;
	text-justify: inter-word;
	margin-top: 2rem;
	width: 86%;
}

/* ---------------- FOOTER CONTAINER ---------------- */

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.texto-footer {
	font-size: 1rem;
}

.github-link {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.texto-footer {
	margin-left: 0.2rem;
	font-size: 1rem;
	color: hsl(0, 0%, 100%);
}

/* -------------- MEDIA QUERIES -------------- */

@media screen and (min-width: 1024px) and (max-width: 1100px) {
	.h1-titulo {
		font-size: 2.6rem !important;
		line-height: 50px !important;
		width: 32rem !important;
	}

	.pass-view {
		padding-left: 2rem !important;
	}

	.logo-head {
		margin-top: 0rem !important;
		margin-bottom: 1.5rem !important;
	}
}

@media screen and (min-width: 1024px) {
	/* ---------------- INTRO SLIDER ---------------- */
	.pagina-01 {
		background-color: hsl(0, 0%, 8%);
		z-index: 4;
		display: flex;
		flex-direction: column;
	}

	.img-p01 {
		position: relative;
		top: -3rem;
		width: 16rem;
		height: auto;
	}

	.loader {
		height: 3.9rem;
		width: auto;
		position: relative;
		top: 2rem;
		animation: rotacion 5s infinite;
	}

	.card-intro {
		background-color: hsl(0, 0%, 95%);
		height: 30.55rem;
		width: 21.71rem;
		border-radius: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		top: -3rem;
	}

	.img-card {
		width: 17rem;
		height: auto;
		margin-bottom: 3rem;
	}

	.p-card {
		color: hsl(0, 0%, 0%);
		text-align: center;
		font-size: 26px;
		font-weight: bold;
		line-height: 30px;
		width: 80%;
	}

	/* ---------------- Password Generator Module ---------------- */

	.pass-generator {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row;
		margin-top: 2rem;
		margin-bottom: 6rem;
		max-width: 70rem;
	}

	/* ---------------- Logo Titulo Bajada ---------------- */

	.head {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50vw;
		max-width: 50vw;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.logo-head {
		margin-top: 0rem;
		margin-bottom: 1.5rem;
		width: 12rem;
	}

	.titulo-head {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 1rem;
	}

	.h1-titulo {
		text-align: center;
		font-weight: bold;
		font-size: 3rem;
		line-height: 60px;
		margin-bottom: 0.8rem;
		width: 36rem;
	}

	.p-bajada {
		text-align: center;
		font-size: 1.5rem;
		line-height: 30px;
		width: 30rem;
	}

	/* ---------------- Password Holder ---------------- */

	.pass-view {
		width: 40vw;
		max-width: 50vw;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: 1rem;
		padding-left: 6rem;
		margin-top: 4rem;
		margin-bottom: 0;
	}

	/* ---------------- INFO CONTAINER ---------------- */

	.info-container {
		background: hsl(0, 0%, 100%);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 3rem;
		padding-bottom: 4rem;
		width: 100vw;
	}

	.titulo-info-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 88vw;
		max-width: 90rem;
		margin-bottom: 1rem;
	}

	.logo-info {
		width: 7.2rem;
		max-width: 32%;
	}

	.titulo-info {
		color: hsl(0, 0%, 0%);
		margin-left: 2rem;
		font-weight: bold;
		font-size: 2.6rem;
		line-height: 2.8rem;
		text-align: left;
		max-width: 22rem;
	}

	.texto-parrafo {
		color: hsl(0, 0%, 0%);
		font-family: Roboto;
		font-size: 1rem;
		line-height: 24px;
		text-align: justify;
		text-justify: inter-word;
		margin-top: 2rem;
		width: 86%;
		max-width: 70rem;
	}
}
